* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: orange;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.menu{
    display: flex;
    height: 5vh;
    width: 90%;
    background-color: rgb(180, 180, 180);
    justify-content: space-around;
    align-items: center;

}

.midFeed{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article{
    width: 90%;
    border-bottom: 4px solid black;
    margin-bottom: 20px;
}
.article p {
    margin-bottom: 30px;
}
.article h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.ADLContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ADLContainer p{
    margin: 5px 0px;
}
.articleImage{
    margin: 10px 0;
    width: 100%;
}
.authorName{
    margin: 40px 0px;
    font-size: 30px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu{
        width: 70%;
    }
    .article{
        width: 70%;
    }
    .ADLContainer{
        flex-direction: row;
    }
}
        /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menu{
        width: 60%;
    }
    .article{
        width: 60%;
    }
}
